# Final Project Template

- You must prepare/clean/examine your data in some way
- You must apply at least one method to the data
- You must zoom in on a specific example
- You must provide documentation of your code through Markdown text and in-code comments

|Criteria | Points|
|----------|--------|
| Data is prepared/cleaned/examined thoroughly. Student(s) identifies general patterns, potential outliers, or problems with the data. | 10 points |
| At least one of the methods learned in class — data analysis with Pandas, word frequencies, tf-idf, topic modeling, NER, network analysis, or mapping — is applied appropriately. Student(s) demonstrate command of method.  | 10 points |
| Student uses the method(s) to zoom in on specific examples that help shed light on larger patterns. | 5 points |
| The code is well-written, readable, and organized. Student uses Python correctly and approriately.  | 5 points |
| Student includes Markdown text and in-code comments to describe sections of the code. | 5 points |
| **Total** | **35 points** |

# Data Cleaning/Preparation/Examination

Here we use Pandas to read in the film dialogue data.

In [3]:
import pandas as pd

In [4]:
film_df = pd.read_csv('../../data/Pudding/Pudding-Film-Dialogue-Clean.csv')

We calculate summary statistics for the dataset to understand larger trends in the data and to identify outliers or errors.

In [5]:
film_df.describe(include='all')

,title,release_year,character,gender,words,proportion_of_dialogue,age,gross,script_id
count,23047,23047.000000,23047,23047,23047.000000,23047.000000,18262.000000,19386.000000,23047.000000
unique,1994,NaN,17543,3,NaN,NaN,NaN,NaN,NaN
top,Lone Star,NaN,Doctor,man,NaN,NaN,NaN,NaN,NaN
freq,40,NaN,37,16131,NaN,NaN,NaN,NaN,NaN
mean,NaN,1998.132425,NaN,NaN,907.902634,0.086518,42.275052,106.735428,4194.804486
std,NaN,14.746052,NaN,NaN,1399.616135,0.107746,57.912595,145.861933,2473.037601
min,NaN,1929.000000,NaN,NaN,101.000000,0.001537,3.000000,0.000000,280.000000
25%,NaN,1992.000000,NaN,NaN,193.000000,0.019773,30.000000,22.000000,2095.000000
50%,NaN,2001.000000,NaN,NaN,396.000000,0.042423,39.000000,56.000000,3694.000000
75%,NaN,2009.000000,NaN,NaN,980.000000,0.104171,50.000000,136.000000,6224.500000
max,NaN,2015.000000,NaN,NaN,28102.000000,0.923422,2009.000000,1798.000000,9254.000000

We noticed X, Y, Z errors and decide to clean the data in X way...

# Analysis

# Zoom-in

Here we zoom in and examine specific characters or movies that are interesting to study and relevant to our written analysis...