# Class 8 Exercises

These exercises will help you practice the skills and concepts that you learned in today's class.

To get participation credit for today's class, make sure that you work on these exercises and then submit a screenshot or PDF of your work to the appropriate assignment page in Canvas.

___

## Datasheets for Datasets
### Am I The Asshole? Reddit Posts

The dataset that we're working with in this lesson is taken from the subreddit ["Am I The Asshole?"](https://www.reddit.com/r/AmItheAsshole/) — only posts that had more than 2,000 upvotes.

___

## Import Pandas

To use the Pandas library, we first need to `import` it.

In [1]:
import pandas as pd

## Change Display Settings

By default, Pandas will display 60 rows and 20 columns. I often change [Pandas' default display settings](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html) to show more rows or columns.

In [5]:
pd.options.display.max_colwidth = 200

## Get Data

Read in the data "top-readdit-aita-posts.csv" and save it as the variable `reddit_df`

In [6]:
reddit_df = pd.read_csv('top-reddit-aita-posts.csv', encoding='utf=8', delimiter=',')

Look at 10 random rows

In [ ]:
# Your code here

Calculate descriptive statistics for all columns in the data

In [13]:
# Your code here

,author,full_date,date,title,selftext,url,subreddit,upvote_score,num_comments,num_crossposts
count,2932,2932,2932,2932,2929,2932,2932,2932.000000,2932.000000,2932.000000
unique,2859,2932,306,2932,2834,2932,1,NaN,NaN,NaN
top,[deleted],2020-07-24 19:13:49+00:00,2020-06-11,AITA for kicking my cousin off of my sister’s wedding Zoom call?,[removed],https://www.reddit.com/r/AmItheAsshole/comments/hx80wd/aita_for_kicking_my_cousin_off_of_my_sisters/,AmItheAsshole,NaN,NaN,NaN
freq,9,1,27,1,92,1,2932,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7818.791269,1350.299795,0.171896
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7582.587863,1273.432164,0.700773
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001.000000,1.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2775.000000,545.000000,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4267.500000,927.000000,0.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10704.250000,1674.750000,0.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71339.000000,12543.000000,13.000000

- What is the minimum and maximum upvote score?
- Who is the most frequent author?
- How many rows are blank in the "selftext" column?

## Rename Column

Rename the column "selftext" as simply "text"

In [ ]:
# Your code here

## Fill NA

Fill in the NaN values in the column "text" with the words "No text"

In [32]:
reddit_df['text'] = ...#Your code here

## Filter By String Match

Search for words or phrases in the Reddit data

In [ ]:
word_filter  = reddit_df['selftext'].str.contains(' ')
reddit_df[word_filter]

## Add a Ratio Column

Getting "ratio'd" in social media parlance usually means that you receive more comments than upvotes (or retweets, etc.). Let's make a function that will calculate a post's "ratio."

In [24]:
def calculate_ratio(df):
    comments = df['num_comments']
    upvotes = df['upvote_score']
    return comments / upvotes

Apply the function above to the entire DataFrame below

In [26]:
reddit_df['ratio'] = reddit_df...#Your code here

Another way to calculate the ratio would be to simply divide the columns like so:

In [28]:
reddit_df['ratio2'] = reddit_df['num_comments'] / reddit_df['upvote_score']

Sort the DataFrame from the highest ratio to the lowest

In [ ]:
reddit_df...#Your code here