# Lists & Loops — Solutions

- How can we apply the same bit of code to multiple values at the same time?
- How can we consider multiple values at the same time?

## Lists

A `list` is a Python *data structure*, a way of grouping multiple values together. We've already encountered lists with the `.split()` method!

In [1]:
kafka_line = "One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin."

In [2]:
kafka_line.split()

['One',
 'morning,',
 'when',
 'Gregor',
 'Samsa',
 'woke',
 'from',
 'troubled',
 'dreams,',
 'he',
 'found',
 'himself',
 'transformed',
 'in',
 'his',
 'bed',
 'into',
 'a',
 'horrible',
 'vermin.']

A list is always enclosed by square brackets `[]` and accepts items in a row separated by commas (`,`). A list can contain any combination of Python data types — strings, numbers, or booleans all mixed together.

In [3]:
names = ['Mary Gallagher', 'John Sanin(?)', 'Anthony Clark', 'Margaret Farrell', 'Unity(?)', 'Catherine']

In [4]:
type(names)

list

In [5]:
ages = [28, 28, 19, 60, 19, 30, 80, 23]

In [6]:
type(ages)

list

In [7]:
ages

[28, 28, 19, 60, 19, 30, 80, 23]

In [8]:
ages[0]

28

In [9]:
ages[0] = 99

In [10]:
ages

[99, 28, 19, 60, 19, 30, 80, 23]

## Sort

In [11]:
ages.sort()

Ascending order is the default

In [12]:
print(ages)

[19, 19, 23, 28, 30, 60, 80, 99]

In [13]:
ages.sort(reverse=True)

Descending order requires `reverse=True`

In [14]:
print(ages)

[99, 80, 60, 30, 28, 23, 19, 19]

## Enumerate

You might want to keep a numerical count or index of items in a list. To print out each item in the list with a corresponding number, you can use the built-in Python function `enumerate()`.

In [15]:
for count, name in enumerate(names):
    print(count, name)

0 Mary Gallagher
1 John Sanin(?)
2 Anthony Clark
3 Margaret Farrell
4 Unity(?)
5 Catherine

## Length

Calculate how many values are in a list aka the *length* of the list.

In [16]:
len(names)

6

## Append

You can add values to a list with `.append()`.

In [17]:
names.append("Rosanna")

In [18]:
print(names)

['Mary Gallagher', 'John Sanin(?)', 'Anthony Clark', 'Margaret Farrell', 'Unity(?)', 'Catherine', 'Rosanna']

In [19]:
len(names)

7

## Sets

In [52]:
ages_set = {28, 28, 19, 60, 19, 30, 80, 23}

In [53]:
type(ages_set)

set

In [54]:
ages_set

{19, 23, 28, 30, 60, 80}

In [55]:
ages_set[0] = 1

TypeError: 'set' object does not support item assignment

In [56]:
ages_set.add(1)

In [57]:
ages_set

{1, 19, 23, 28, 30, 60, 80}

In [58]:
set(ages)

{19, 23, 28, 30, 60, 80, 99}

## Tuples

In [39]:
ages_tuple = (28, 28, 19, 60, 19, 30, 80, 23)

In [42]:
ages_tuple

(28, 28, 19, 60, 19, 30, 80, 23)

In [40]:
type(ages_tuple)

tuple

In [41]:
ages_tuple[0] = 99

TypeError: 'tuple' object does not support item assignment

## For Loops

- What if we wanted to remove the "(?)" from all the Bellevue people's names?
- What if we wanted to calcuate the year each person was born based on their ages?

One of the best ways to work with a list is with `for` loops. This is a way of considering each item in the list or *iterating* through the list.

A basic basic `for` loop will consist of two lines:

- On the first line, you type the English word `for`, a new variable name for each item in the list, the English word `in`, the name of the list, and a colon (`:`)

- On the second line, you indent and write an instruction or “statement” to be completed for each item in the list

In [26]:
names = ['Mary Gallagher', 'John Sanin(?)', 'Anthony Clark', 'Margaret Farrell', 'Unity(?)', 'Catherine']

In [27]:
for name in names:
    print(f"Person's name is {name}")

Person's name is Mary Gallagher
Person's name is John Sanin(?)
Person's name is Anthony Clark
Person's name is Margaret Farrell
Person's name is Unity(?)
Person's name is Catherine

## Make a New List with a For Loop

In [28]:
m_names = []
for name in names:
    if name.startswith('M'):
        m_names.append(name)

In [29]:
print(m_names)

['Mary Gallagher', 'Margaret Farrell']