# Class 3 Exercises — Solutions

These exercises will help you practice the skills and concepts that you learned in today's class.

To get participation credit for today's class, make sure that you work on these exercises and then submit a screenshot or PDF of your work to the appropriate assignment page in Canvas.

## List/For Loop Exercises

### Exercise 1

In [1]:
ages = [28, 19, 60, 30, 80, 23]

First, sort the list `ages` in ascending order and then print it out.

In [2]:
ages.sort()

In [3]:
print(ages)

[19, 23, 28, 30, 60, 80]

Next extract the value "80" from the list by indexing the list.

In [5]:
ages[5]

80

In [4]:
ages[-1]

80

Next, calculate the birth year for each of these Irish immigrants and then print them out one at a time. Note that these ages were recorded in the year 1847.

In [6]:
for single_age in ages:
    birth_year = 1847 - single_age 
    print(birth_year)

1828
1824
1819
1817
1787
1767

### Exercise 2

Let's print out their birth years for each person with a statement that says "Person was born in".

In [7]:
for single_age in ages:
    birth_year = 1847 - single_age
    print(f"Person was born in {birth_year}")

Person was born in 1828
Person was born in 1824
Person was born in 1819
Person was born in 1817
Person was born in 1787
Person was born in 1767

### Exercise 3

Let's clean up this list of names.

In [8]:
names = ['Mary Gallagher', 'John Sanin(?)', 'Anthony Clark', 'Margaret Farrell','Unity(?)', 'Catherine']

Print out each name in this list. Remove "(?)" from any of the names.

*Note: there may be multiple ways to accomplish this task!*

In [9]:
for single_name in names:
    clean_name = single_name.replace('(?)', '')
    print(clean_name)

Mary Gallagher
John Sanin
Anthony Clark
Margaret Farrell
Unity
Catherine

### Exercise 4

Are names that contain a "(?)" really very reliable? Maybe we want to remove them. 

Print out the names in this list but do not print a name if it contains "(?)".

*Note: to test whether a phrase is **not in** a string, you can use `not in`*

In [34]:
names = ['Mary Gallagher', 'John Sanin(?)', 'Anthony Clark', 'Margaret Farrell', 'Unity(?)', 'Catherine']

In [10]:
for single_name in names:
    if '(?)' not in single_name:
        clean_name = single_name.replace('(?)', '')
        print(clean_name)

Mary Gallagher
Anthony Clark
Margaret Farrell
Catherine