# Class 4 Exercises

These exercises will help you practice the skills and concepts that you learned in today's class.

To get participation credit for today's class, make sure that you work on these exercises and then submit a screenshot or PDF of your work to the appropriate assignment page in Canvas.

## List/For Loop Exercises

### Exercise 1

In [31]:
ages = [28, 19, 60, 30, 80, 23]

First, sort the list `ages` in *descending* order and then print it out.

In [ ]:
#Your code here

In [ ]:
#Your code here

Next, extract the value "23" from the list by indexing the list.

In [ ]:
#Your code here

Next, calculate how old each of these Irish immigrants would have been in 1857. Note that these ages were recorded in the year 1847.

In [ ]:
#Your code here
    tenyears_age ...
    print(tenyears_age)

### Exercise 2

Print out the statement "Person was sent to..." for each place in the list unless the place is "illegible." As a bonus, see if you can format the place in title case (where the first letter of each word is capitalized).

In [10]:
places = ['shanty', 'bellevue hospital', 'ward 38', 'illegible', 'asylum', 'illegible']

In [11]:
#Your code here ->

Person was sent to Shanty
Person was sent to Bellevue Hospital
Person was sent to Ward 38
Person was sent to Asylum

### Exercise 3

Print out the statement "Person has a child" or "Person does not have a child" for each item in the list.

In [13]:
child_status = ['Child Alana 10 days', '', 'Catherine 2 mo', '', 'Charles Riley afed 10 days']

In [15]:
#Your code here ->

Person has a child
Person does not have a child
Person has a child
Person does not have a child
Person has a child

### Exercise 4

Using a `for` loop, make a new list `young_people` that only includes ages that are younger than 60, then print it out.

In [4]:
ages = [28, 19, 60, 30, 80, 23]

In [ ]:
young_people = #Your Code Here
#Your Code Here
    # Your code here
        #Your code here

In [7]:
print(young_people)

[28, 19, 30, 23]