# Explore a Twitter Trend

If you haven't done so already, you need to open a Terminal and type `twarc2 configure`, then enter your bearer token

twarc2 configure

To get tweet counts, we can use [`twarc2 counts`](https://twarc-project.readthedocs.io/en/latest/twarc2/#counts) followed by a search query.



| Search Operator             | Explanation                                                                                                                                                                                                                                                                                                                                                                                                                                         |
|:--------------------:|:----------------------------------------------------------------------------------------------:|
| keyword              | Matches a keyword within the body of a Tweet. `so sweet and so cold`                                                                                          
| "exact phrase match" | Matches the exact phrase within the body of a Tweet. `"so sweet and so cold" OR "plums in the icebox"`                                                                                              |
| - | Do NOT match a keyword or operator `baldwin -alec`, `walt whitman -bridge`                                                                                              |
| #                    | Matches any Tweet containing a recognized hashtag `#arthistory`        |                                                                             |
| from:, to:                | Matches any Tweet from or to a specific user. `from:KingJames` `to:KingJames`                                                                    |                                                                                                            |
| place:               | Matches Tweets tagged with the specified location or Twitter place ID. `place:"new york city" OR place:seattle`                                                                                            |
| is:reply, is:quote             | Returns only replies or quote tweets. `DFW bro is:reply` `David Foster Wallace bro is:quote`                                                                                                                               |
| is:verified          | Returns only Tweets whose authors are verified by Twitter.`DFW bro is:verified`                                                                                                                                |
| has:media           | Matches Tweets that contain a media object, such as a photo, GIF, or video, as determined by Twitter. `I Think You Should Leave has:media`                                                                                                                                |
| has:images, has:videos           | Matches Tweets that contain a recognized URL to an image. `i'm gonna tell my kinds that this was has:images`                                                                                    |
| has:geo              | Matches Tweets that have Tweet-specific geolocation data provided by the Twitter user.  `pyramids has:geo`           

We will also use the flag `--csv` because we want to output the data as a CSV and the flag `--granularity day` to get tweet counts per day (other options include `hour` and `minute` — you can see more in [twarc's documentation](https://twarc-project.readthedocs.io/en/latest/twarc2/#counts)).  Finally, we write the data to a CSV file.

## Explore a Twitter Trend of Your Own!

1. With your group, come up with a question or an idea that you can explore by examining the fluctuation of tweets over the past week (October 29th - November 4th) – either by day, by hour, or by minute. Think about news events, holidays, memes, trends etc.

2. Make a prediction about that trend and sketch what you think the tweets plot will look like on a piece of paper.

3. Now test your hypothesis and see how it matches up with your prediction!

In [11]:
import pandas as pd
pd.options.display.max_colwidth = 400
import plotly.express as px
import plotly.io as pio
pio.renderers.default='iframe'

In [74]:
!twarc2 counts "your query" --csv --granularity day > tweet-counts.csv

We can read in this CSV file with pandas, parse the date columns, and sort from earliest to latest.

In [75]:
# Read in CSV as DataFrame and parse dates
tweet_counts_df = pd.read_csv('tweet-counts.csv', parse_dates=['start', 'end'])

# Sort values by earliest date
tweet_counts_df = tweet_counts_df.sort_values(by='start')

tweet_counts_df

                      start                       end  day_count
0 2021-10-28 01:46:42+00:00 2021-10-29 00:00:00+00:00     146527
1 2021-10-29 00:00:00+00:00 2021-10-30 00:00:00+00:00     264804
2 2021-10-30 00:00:00+00:00 2021-10-31 00:00:00+00:00     303836
3 2021-10-31 00:00:00+00:00 2021-11-01 00:00:00+00:00     182884
4 2021-11-01 00:00:00+00:00 2021-11-02 00:00:00+00:00     250908
5 2021-11-02 00:00:00+00:00 2021-11-03 00:00:00+00:00     519634
6 2021-11-03 00:00:00+00:00 2021-11-04 00:00:00+00:00    1247173
7 2021-11-04 00:00:00+00:00 2021-11-04 01:46:42+00:00      51441

Then we can make a quick plot of tweets per day with [plotly](https://plotly.com/python/line-charts/).

In [77]:
# Make a line plot and create x and y axis labels and a title

px.line(tweet_counts_df, x="#Your code here", y="#Your code here", title= "Your title here",
        
    labels={'start': 'Time', 'day_count': 'Tweets per Day'})

With a plotly line chart, we can hover over points to see more information, and we can use the tool bar in the upper right corner to zoom or pan on different parts of the graph. We can also press the camera button to download an image of the graph at any pan or zoom level.

To return to the original view, double-click on the plot.