# Comparisons & Conditionals — Workbook

Writing Python code is a lot like writing a list of detailed instructions to the computer. Most of the time you will be asking the computer to perform certain tasks if certain conditions are met. For example:

- *If a person in the dataset is older than 30, then print out their name*
- *If a tweet contains the phrase "ok boomer," then automatically retweet it*
- *If Beyoncé is a Grammy award-winner, then say "Congratulations, Beyoncé!*

Here's how we would write out this last example in Python code:

In [ ]:
print("Did Beyonce win a Grammy this year?")
beyonce_award_status = input()
if beyonce_award_status == "yes":
    print("Congratulations, Beyonce!")

## Comparisons

There are many ways that we can compare values with Python, such as equals (`==`), not equals (`!=`), greater than (`>`), less than (`<`), greater than or equal to (`>=`), or less than or equal to (`<=`).

| **Comparison Operator** | **Explanation**                                                                                   |
|:-------------:|:---------------------------------------------------------------------------------------------------:|
| `x == y `         | `True` if x is equal to y                                                                                |
| `x != y `         | `True` if x is not equal to y                                               |
| `x > y`       |  `True` if x is greater than y                                                        |
| `x < y`       |   `True` if x is less than y  
| `x >= y`       |   `True` if x is greater than or equal to y |
| `x <= y`      | `True` if x is less than or equal to y`                                                                             |

We can also combine values and compare them. We can check to see if `x and y` are both `True` or if either `x or y` is `True`.

| **Logical Operator** | **Explanation**                                                                                   |
|:-------------:|:---------------------------------------------------------------------------------------------------:|
| `x and y`         | `True` if x and y are both True                                                                             |
| `x or y`         | `True` if either x or y is True                                              |
| `not x`       |  `True` if is x is not True                                                       |

What will happen if we check whether `person1 > 30` and `person2 > 30`?

In [14]:
person1 = 30
person2 = 30.5

In [ ]:
person1 > 30 and person2 > 30

The boolean answer is `False` because `person1` is not greater than 30 (`person1` is exactly 30) even though `person2` is greater than 30. The `and` requires that both conditions are `True.`

In [15]:
person1 = 30
person2 = 30.5

In [ ]:
person1 >= 30 and person2 >= 30

The boolean answer is `True` because `person1` is greater than or equal to 30 and `person2` is greater or equal to  30. The `and` requires that both conditions are `True.`

### Or

What will happen if we check whether `person1 > 30` or `person2 > 30`?

In [12]:
person1 = 30
person2 = 30.5

In [ ]:
person1 > 30 or person2 > 30

The boolean answer is `True` because `person2` is greater than 30. The `or` requires that only one of the conditions is true.

## Conditionals

### If Statement

An `if` statement is an instruction to do something *if* a particular condition is met.

A common conditional will consist of two lines: 
- On the first line, you type the English word `if` followed by an expression and then a colon (`:`) 
- On the second line, you indent and write an instruction or "statement" to be completed if the condition is met

## Else Statement

You can add even more complexity in a conditional by adding an `else` statement. This will instruct the program to do something in case the condition is not met. An `else` comes after an `if` statement and should be formatted it the same way.

In [39]:
beyonce = "not a Grammy award-winner this year"

In [ ]:
if beyonce == "Grammy award-winner":
    print("Congratulations, Beyonce!")
else:
    print("They messed up, Beyonce.")

## Elif Statement

Sometimes you want even more nuance to respond to slightly different conditions. For example, if Beyonce was nominated for a Grammy but didn't win, then we might want to express a slightly different sentiment than if she won or was not nominated at all.

You can add in this nuance with an `elif` statement, short for *else if*. The computer will evaluate the first `if` statement. If that statement is not `True`, it will then evaluate the `elif` statement.

In [137]:
beyonce = "Grammy award-nominee"

In [ ]:
if beyonce == "Grammy award-winner":
    print("Congratulations, Beyonce!")
elif beyonce == "Grammy award-nominee":
    print("Ok well at least they nominated you, Beyonce.")
else:
    print("They messed up, Beyonce.")

## Excerises

For the following exercises and the next few lessons, we're going to draw on Anelise Shrout's [Bellevue Almshouse Dataset](https://www.nyuirish.net/almshouse/the-almshouse-records/). The Bellevue Almshouse Dataset includes information about Irish-born immigrants who were admitted to the almshouse in the 1840s.

Here's a preview of the dataset (don't worry about `pandas` yet, but we'll be introducing it in a few weeks!)

In [1]:
import pandas
pandas.read_csv("../data/bellevue_almshouse_modified.csv").head(30)

,date_in,first_name,last_name,age,disease,profession,gender,children
0,1847-04-17,Mary,Gallagher,28.0,recent emigrant,married,w,Child Alana 10 days
1,1847-04-08,John,Sanin (?),19.0,recent emigrant,laborer,m,Catherine 2 mo
2,1847-04-17,Anthony,Clark,60.0,recent emigrant,laborer,m,Charles Riley afed 10 days
3,1847-04-08,Lawrence,Feeney,32.0,recent emigrant,laborer,m,Child
4,1847-04-13,Henry,Joyce,21.0,recent emigrant,NaN,m,Child 1 mo
5,1847-04-14,Bridget,Hart,20.0,recent emigrant,spinster,w,Child
6,1847-04-14,Mary,Green,40.0,recent emigrant,spinster,w,And child 2 months
7,1847-04-19,Daniel,Loftus,27.0,destitution,laborer,m,NaN
8,1847-04-10,James,Day,35.0,recent emigrant,laborer,m,NaN
9,1847-04-10,Margaret,Farrell,30.0,recent emigrant,widow,w,NaN
10,1847-04-10,Bridget,Day,30.0,recent emigrant,married,w,NaN
11,1847-04-10,Anthony,Day,0.5,recent emigrant,NaN,m,NaN
12,1847-04-07,James,Collins,22.0,recent emigrant,laborer,m,NaN
13,1847-04-07,Thomas,Collins,21.0,recent emigrant,laborer,m,NaN
14,1847-04-07,Pat,Whalen,25.0,recent emigrant,laborer,m,NaN
15,1847-04-17,Dan,Delany,10.0,typhus,NaN,m,NaN
16,1847-04-09,Catherine,O'Harra,23.0,recent emigrant,married,w,NaN
17,1847-04-09,Damiel,O'Harra,25.0,recent emigrant,laborer,m,NaN
18,1847-04-12,Margaret,Delaney,26.0,recent emigrant,married,w,NaN
19,1847-04-12,Michael,Delany,3.0,recent emigrant,NaN,m,NaN
20,1847-04-13,William,Tierney,30.0,recent emigrant,laborer,m,NaN
21,1847-04-09,Michael,Kennedy,23.0,recent emigrant,laborer,m,NaN
22,1847-04-17,Catharine,Lyon,20.0,recent emigrant,spinster,w,NaN
23,1847-04-09,Joseph,Ricky,13.0,recent emigrant,NaN,m,NaN
24,1847-04-15,Catherine,Mathew,40.0,recent emigrant,married,w,NaN
25,1847-04-14,Rosanna,Smith,23.0,recent emigrant,spinster,w,NaN
26,1847-04-06,Peter,Boyle,20.0,recent emigrant,laborer,m,NaN
27,1847-04-05,Catherine,Cullen,18.0,recent emigrant,spinster,w,NaN
28,1847-04-12,Edward,Murray,60.0,recent emigrant,shoemaker,m,NaN
29,1847-04-17,John,Sheridan,21.0,recent emigrant,painter,m,NaN

### Exercise 1

In [134]:
person1_name = 'Bridget Hart'
person1_age = 20
person1_disease = 'recent emigrant'
person1_profession = 'spinster'
person1_gender = 'f'
person1_child_status = 'Child'

Write an `if` statement that prints "Person is young" if `person1_age` is less than 30 years old.

In [ ]:
#Your code here
    print('Person is young.')

### Exercise 2
Write an `if` statement that prints "Person is young and not married" if `person1_age` is less than 30 years old *and* `person1_profession` is not equal to "married."

In [ ]:
#Your code here
    print('Person is young and not married.')

### Excerise 3

In [113]:
person1_profession = 'spinster'

Write a conditional that will report whether `person1_profession` is a "spinster," "laborer," "widow," or "unknown profession."

In [ ]:
#Your code here
    print('Person is a spinster.')
#Your code here
    print('Person is a laborer.')
#Your code here
    print('Person is a widow.')
#Your code here
    print('Person has unknown profession.')

Test your code by reassigning the variables below and then running the cell above again. You should get "Person is a laborer "and "Person has unknown profession."

In [ ]:
person1_profession = 'laborer'

In [115]:
person1_profession = 'painter'

### Exercise 4

Some of the Irish immigrants' names have question marks after them. Let's clean up some of the data and remove the question marks.

In [3]:
person2_name = 'John Sanin(?)'

You can use the Python keyword `in` to test whether a string appears within another string. Print `person4_name` with the question mark and parentheses removed.

In [132]:
if "(?)" in person2_name:
    #Your code here

John Sanin