# Lists & Loops — Part 1 Workbook

- How can we apply the same bit of code to multiple values at the same time?
- How can we consider multiple values at the same time?

## Lists

A `list` is a Python *data structure*, a way of grouping multiple values together. We've already encountered lists with the `.split()` method!

In [20]:
kafka_line = "One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin."

In [21]:
kafka_line.split()

['One',
 'morning,',
 'when',
 'Gregor',
 'Samsa',
 'woke',
 'from',
 'troubled',
 'dreams,',
 'he',
 'found',
 'himself',
 'transformed',
 'in',
 'his',
 'bed',
 'into',
 'a',
 'horrible',
 'vermin.']

A list is always enclosed by square brackets `[]` and accepts items in a row separated by commas (`,`). A list can contain any combination of Python data types — strings, numbers, or booleans all mixed together.

In [26]:
names = ['Mary Gallagher', 'John Sanin(?)',\
         'Anthony Clark', 'Margaret Farrell',\
         'Unity(?)', 'Catherine']

In [8]:
type(names)

list

In [19]:
ages = [28, 19, 60, 30, 80, 23]

In [10]:
type(ages)

list

- What if we wanted to remove the "(?)" from all the Bellevue people's names?
- What if we wanted to calcuate the year each person was born based on their ages?

## For Loops

One of the best ways to work with a list is with `for` loops. This is a way of considering each item in the list or *iterating* through the list.

A basic basic `for` loop will consist of two lines:

- On the first line, you type the English word `for`, a new variable name for each item in the list, the English word `in`, the name of the list, and a colon (`:`)

- On the second line, you indent and write an instruction or “statement” to be completed for each item in the list

In [26]:
names = ['Mary Gallagher', 'John Sanin(?)',\
         'Anthony Clark', 'Margaret Farrell',\
         'Unity(?)', 'Catherine']

In [ ]:
for name in names:
    print(f"Person's name is {name}")

## Your turn!

Iterate through the list `ages` and print out "Person's age is" for each item in the list.

In [31]:
ages = [28, 19, 60, 30, 80, 23]

In [33]:
#Your code here
    #Your code here

Person's age is 28
Person's age is 19
Person's age is 60
Person's age is 30
Person's age is 80
Person's age is 23

## Exercises

### Exercise 1

Let's calculate the birth year for each of these Irish immigrants. Note that these ages were recorded in the year 1847.

In [31]:
ages = [28, 19, 60, 30, 80, 23]

In [38]:
#Your code here
    birth_year...
    print(birth_year)

1819
1828
1787
1817
1767
1824

### Exercise 2

Let's print out their birth years with a statement that says "Person was born in".

In [40]:
#Your code here
    #Your code here
    #Your code here

Person was born in 1819
Person was born in 1828
Person was born in 1787
Person was born in 1817
Person was born in 1767
Person was born in 1824

### Exercise 3

Let's clean up this list of names.

In [34]:
names = ['Mary Gallagher', 'John Sanin(?)',\
         'Anthony Clark', 'Margaret Farrell',\
         'Unity(?)', 'Catherine']

Print out each name in this list. Remove "(?)" from any of the names.

*Note: there may be multiple ways to accomplish this task!*

In [36]:
#Your code here
    clean_name...
    #Your code here

Mary Gallagher
John Sanin
Anthony Clark
Margaret Farrell
Unity
Catherine

### Exercise 4

Are names that contain a "(?)" really very reliable? Maybe we want to remove them. 

Print out the names in this list but do not print a name if it contains "(?)".

*Note: to test whether a phrase is **not in** a string, you can use `not in`*

In [34]:
names = ['Mary Gallagher', 'John Sanin(?)',\
         'Anthony Clark', 'Margaret Farrell',\
         'Unity(?)', 'Catherine']

In [42]:
#Your code here
    #Your code here
        #Your code here

Mary Gallagher
Anthony Clark
Margaret Farrell
Catherine