# Class 6 Exercises

These exercises will help you practice the skills and concepts that you learned in today's class.

To get participation credit for today's class, make sure that you work on these exercises and then submit a screenshot or PDF of your work to the appropriate assignment page in Canvas.

___

## Dataset
### *The Pudding*'s Film Dialogue Data

The dataset that we're working with in this lesson is taken from Hannah Andersen and Matt Daniels's *Pudding* essay, ["Film Dialogue from 2,000 screenplays, Broken Down by Gender and Age"](https://pudding.cool/2017/03/film-dialogue/). The dataset provides information about 2,000 films from 1925 to 2015, including characters’ names, genders, ages, how many words each character spoke in each film, the release year of each film, and how much money the film grossed. They included character gender information because they wanted to contribute data to a broader conversation about how "white men dominate movie roles."

___

## Import Pandas

To use the Pandas library, we first need to `import` it.

In [1]:
# Your code here

## Change Display Settings

By default, Pandas will display 60 rows and 20 columns. I often change [Pandas' default display settings](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html) to show more rows or columns.

In [3]:
pd.options.display.max_rows = 200

## Get Data

Read in the file "Pudding-Film-Dialogue-Clean.csv"

In [ ]:
film_df = # Your code here

This creates a Pandas [DataFrame object](https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html#DataFrame) — often abbreviated as *df*, e.g., *slave_voyages_df*. A DataFrame looks and acts a lot like a spreadsheet. But it has special powers and functions that we will discuss in the next few lessons.

## Overview

To look at a random *n* number of rows in a DataFrame, we can use a method called `.sample()`.

In [5]:
film_df.sample(10)

,title,release_year,character,gender,words,proportion_of_dialogue,age,gross,script_id
10706,Sugar,2008,Orlando,man,266,0.017379,NaN,1.0,3462
1804,Kundun,1997,Chairman Mao,man,301,0.064206,28.0,10.0,1077
19562,Mystic River,2003,Esther Harris,woman,114,0.010595,61.0,129.0,7502
16862,Heaven Is for Real,2014,Nancy Rawling,woman,357,0.042384,63.0,97.0,6045
13105,Hardcore,1979,Niki,woman,1344,0.161752,28.0,NaN,4333
11476,War Horse,2011,Lt. Charlie Wav,man,140,0.016906,34.0,87.0,3680
5829,The Dark Knight,2008,Loeb,man,164,0.004890,47.0,645.0,2106
16026,Frankenweenie,2012,Bob,man,213,0.051067,14.0,38.0,5404
18725,My Bloody Valentine,2009,Ben Foley,man,653,0.143390,65.0,59.0,7149
8324,Life as a House,2001,Adam Kimball,man,616,0.028450,8.0,23.0,2764

## Pandas Methods

| Pandas method | Explanation                         |
|----------|-------------------------------------|
| `.sum()`      | Sum of values                       |
| `.mean()`     | Mean of values                      |
| `.median()`   | Median of values         |
| `.min()`      | Minimum                             |
| `.max()`      | Maximum                             |
| `.mode()`     | Mode                                |
| `.std()`      | Unbiased standard deviation         |
| `.count()`    | Total number of non-blank values    |
| `.value_counts()` | Frequency of unique values |

### ❓  How old (on average) are the characters in this dataset?

In [ ]:
# Your code here

### ❓  How old is the oldest character in the dataset?

In [ ]:
# Your code here

### ❓  How young is the youngest character?

In [ ]:
# Your code here

### ❓  How many men vs. women characters are in the dataset?

In [ ]:
# Your code here

## Examine Subsets

### ❓  Who are all the characters from Monsters, Inc.?

![](https://imgr.search.brave.com/Sc0_L9RRhHrC2B_0i2XRMWpuhGCN8yKvb0hiqnexAAk/fit/877/225/ce/1/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5G/MVlGNmRvZzFvNHhi/NFdVNzJYbGhBSGFF/QSZwaWQ9QXBp)

[Roz from Monsters, Inc.](https://disney.fandom.com/wiki/Roz)

Write a conditional statement that will filter the DataFrame to only show rows that have the title "Monsters, Inc."

In [ ]:
title_filter = #Your code here

In [29]:
film_df[title_filter]

,title,release_year,character,gender,words,proportion_of_dialogue,age,gross,script_id
20730,"Monsters, Inc.",2001,Celia,woman,399,0.037702,43.0,445.0,7991
20731,"Monsters, Inc.",2001,Charlie,man,128,0.012095,61.0,445.0,7991
20732,"Monsters, Inc.",2001,Floor Manager,man,130,0.012284,59.0,445.0,7991
20733,"Monsters, Inc.",2001,Fungus,man,220,0.020788,57.0,445.0,7991
20734,"Monsters, Inc.",2001,George Sanderso,man,148,0.013985,39.0,445.0,7991
20735,"Monsters, Inc.",2001,Henry J. Watern,man,1192,0.112633,73.0,445.0,7991
20736,"Monsters, Inc.",2001,"James P. ""Sulle",man,2625,0.248039,49.0,445.0,7991
20737,"Monsters, Inc.",2001,Mike Wazowski,man,4653,0.439667,53.0,445.0,7991
20738,"Monsters, Inc.",2001,Needleman,man,128,0.012095,35.0,445.0,7991
20739,"Monsters, Inc.",2001,Randall Boggs,man,734,0.069357,44.0,445.0,7991
20740,"Monsters, Inc.",2001,Roz,man,226,0.021355,40.0,445.0,7991

### ❓  What potential issues do you notice when you look closer at this data? (Hint: Look at Roz!)

What do you think about The Pudding's approach to classifying gender in this dataset? Why do you think they chose this miethod? What alternative methods could we potentially use to understand gender?

### ❓  Who are all the characters from Mulan?

![](https://imgr.search.brave.com/FneuSAPYJKxzA127qqcXL1viYxX35cnkJ3mCY6CPZ8w/fit/1200/1200/ce/1/aHR0cDovL2ltYWdl/czYuZmFucG9wLmNv/bS9pbWFnZS9waG90/b3MvMzQ0MDAwMDAv/V2FsdC1EaXNuZXkt/U2NyZWVuY2Fwcy1N/dXNodS13YWx0LWRp/c25leS1jaGFyYWN0/ZXJzLTM0NDYwMjIy/LTUwMDAtMjk3Ny5q/cGc)

[Mushu from Mulan](https://disney.fandom.com/wiki/Mushu)

Write a conditional statement that will filter the DataFrame to only show rows that have the title "Mulan"

In [32]:
title_filter = #Your code here

In [33]:
film_df[title_filter]

,title,release_year,character,gender,words,proportion_of_dialogue,age,gross,script_id
9093,Mulan,1998,Chi Fu,man,932,0.064650,69.0,224.0,2961
9094,Mulan,1998,Chien-Po,man,168,0.011654,48.0,224.0,2961
9095,Mulan,1998,Fa Li,woman,156,0.010821,NaN,224.0,2961
9096,Mulan,1998,Fa Zhou,man,542,0.037597,55.0,224.0,2961
9097,Mulan,1998,First Ancestor,man,238,0.016509,61.0,224.0,2961
9098,Mulan,1998,General Li,man,316,0.021920,69.0,224.0,2961
9099,Mulan,1998,Ling,man,448,0.031077,43.0,224.0,2961
9100,Mulan,1998,Mulan,woman,3028,0.210044,35.0,224.0,2961
9101,Mulan,1998,Mushu,man,4594,0.318674,37.0,224.0,2961
9102,Mulan,1998,Shan-Yu,man,570,0.039539,43.0,224.0,2961
9103,Mulan,1998,Shang,man,1800,0.124861,38.0,224.0,2961
9104,Mulan,1998,The Emperor,man,512,0.035516,66.0,224.0,2961
9105,Mulan,1998,The Matchmaker,woman,376,0.026082,57.0,224.0,2961
9106,Mulan,1998,Yao,man,736,0.051054,44.0,224.0,2961

### ❓  What potential issues do you notice when you look closer at the words and proportion of dialogue for each character? (Hint: Look at Mushu and Mulan)

What do you think about The Pudding's framing of dialogue as the most important feature in films?